/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}




/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

body {
 background: url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
 color: #000000;
 font-family: 'Lato', sans-serif;
 line-height: 1.7; /* line-height is unit-less */
 font-size: 100%;
}  

#container{
	width:1000px;
	margin: 0 auto 0 auto;
}

#header{
	margin:0 auto 0 auto;
}

#main{
	background:white;
	width:600px;
	margin:0 10px 0 auto;
	float:left;
	padding:30px;
}

#sidebar{
	background:white;
	width:300px;
	margin:0 auto 0 auto;
	float:left;
	padding:30px;
	border-left:thin solid #bdc3c7;

}

#footer{

}

/*----------------------------------------------------------------------------- 
03=Header
-----------------------------------------------------------------------------*/
#header h1{
	margin-bottom:-35px;
}

#header h5{
	margin-bottom:5;
}

/*----------------------------------------------------------------------------- 
04=Main
-----------------------------------------------------------------------------*/

#main .blog-post{
	border-bottom:thin solid #bdc3c7;
}

#main .blog-post h5{
	font-size:10px;
	color:black;
}

#main h5{
	font-size:10px;
	color:gray;
}

/*----------------------------------------------------------------------------- 
03=Sidebar
-----------------------------------------------------------------------------*/
#sidebar a{
	text-decoration: none;
	color:#e67e22;
}


#sidebar img{
	border-radius:200px;
}

#sidebar blockquote, p{
	font-size:12px;
	margin-left:8px;
}

#sidebar #quote-border{
	border-left:thick solid #bdc3c7;

}

/*----------------------------------------------------------------------------- 
03=Footer
-----------------------------------------------------------------------------*/
#footer a{
	color:#e67e22;
	font-weight:bold;
	text-decoration: none;
}
